@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: #000;
    color: #00ffff;
    font-family: "Roboto", sans-serif;
}

.shadow-neon {
    box-shadow:
        0 0 5px theme("colors.neon-blue"),
        0 0 20px theme("colors.neon-pink");
}
